[Unit]
Description=RTMP Statistics
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/node /root/nginx-rtmp-monitoring/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
